<footer class="footer bg-black bg-gradient text-white p-5">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-1">Integrantes:</h4>
            <p class="mb-1">Lautaro Saéz</p>
            <p class="mb-1">Landín Iván Lautaro</p>
            <p class="mb-1">Forno Alan</p>
            <p class="mb-0">Pablo Rocha</p>
            <h4 class="mb-1 mt-3 fs-2">SublimApp</h4>
        </div>
        <div class="footer-right text-end fs-5">
            <p class="mb-1">Universidad Nacional de La Matanza</p>
            <p class="mb-1">Taller Web I</p>
            <img src="/spring/img/unlam_logo.png" alt="Logo UNLaM" style="height: 40px;">
        </div>
    </div>
</footer>