<nav class="w-50 p-0">
  <h3 class="m-0">
    <a th:href="@{/home}" class="text-decoration-none text-white">SublimApp</a>
  </h3>
</nav>
<nav class=" p-0 d-flex justify-content-end navbar bg-dark w-50">
  <a th:href="@{/nuevo-pedido}" class="fs-5 text-white text-decoration-none me-5">Pedidos</a>
  <a th:href="@{/catalogo-telas.html}" class="fs-5 text-white text-decoration-none me-5">Telas</a>
  <a th:href="@{/disenios}" class="fs-5 text-white text-decoration-none me-5">Diseños</a>
  <a th:href="@{/guia-talles}" class="fs-5 text-white text-decoration-none me-5">Guia de talles</a>
  <a href="#" class="fs-5 text-white text-decoration-none">Perfil</a>
</nav>