<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Boleta de Compra</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="container py-5">
<h2 class="mb-4">Boleta de Compra</h2>

<div class="card p-4">
  <p><strong>Color de la tela:</strong> <span th:text="${color}"></span></p>
  <p><strong>Precio por metro:</strong> $<span th:text="${precio}"></span></p>
  <p><strong>Cantidad de metros:</strong> <span th:text="${metros}"></span></p>
  <p><strong>Total a pagar:</strong> $<span th:text="${total}"></span></p>
  <p><strong>Fecha de compra:</strong> <span th:text="${fecha}"></span></p>
</div>


<div class="mt-4">
  <a href="/catalogo-telas" class="btn btn-primary">Volver al Catálogo</a>
</div>


<div th:replace="fragments/toasts :: toasts"></div>
<footer th:insert="templates/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
