<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Catálogo de Telas</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/misTelas.css}" />
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="container mt-5 pt-5">
    <section>
        <h2 class="mb-4 text-center text-primary">Catálogo de Telas</h2>

        <div class="cargar-propia-tela-btn">
            <a href="/cargar-tela" class="btn btn-outline-primary">Cargar propia tela</a>
        </div>

        <div class="row g-4">
            <div class="col-md-4" th:each="tela : ${telas}">
                <div class="card h-100 shadow-lg border-0">
                    <img th:src="@{/img/tela1.jpg}" alt="Imagen tela" style="height: 200px; object-fit: cover; border-top-left-radius: 1rem; border-top-right-radius: 1rem;">

                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-primary" th:text="${tela.tipoTela}">Tipo Tela</h5>
                            <p class="card-text"><strong>Color:</strong> <span th:text="${tela.color}">Color</span></p>
                            <p class="card-text"><strong>Precio por metro:</strong> $<span th:text="${tela.precio}">0.00</span></p>
                        </div>
                        <button type="button"
                                th:onclick="'location.href=\'/registrar-tela?id=' + ${tela.id} + '\';'"
                                class="btn btn-primary mt-3 w-100">
                            Comprar Tela
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>


