<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}"/>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/modoOscuro.css}">
    <style>
        body {
            font-family: "Lexend Deca", sans-serif;
        }
    </style>
</head>
<body class="p-0 m-0">
<div class="sticky-top bg-dark d-flex justify-content-between py-3 px-5 align-items-center"
     th:insert="templates/nav :: nav"></div>
<main class="p-3">
    <h2 class="text-center text-white">
        Pedido realizado:
        <span th:class="${pedido.estado.claseCss}" th:text="${pedido.estado.descripcion}"></span>
    </h2>
    <table class="table table-dark table-hover text-center w-75 container mb-4">
        <thead>
        <tr>
            <th>Imágen</th> <!-- Cambiar por imagen -->
            <th>Prenda</th>
            <th>Talle</th>
            <th>Tela</th>
            <th>Cantidad</th> <!-- Permitir modificar acá la cantidad -->
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${pedido.productos}">
            <!-- Agregar input hidden con id de producto? -->
            <td>Imagen</td> <!-- Cambiar por imagen -->
            <td th:text="${producto.prenda.descripcion}">Prenda</td>
            <td th:text="${producto.talle.descripcion}">Talle</td>
            <td th:text="${producto.tela.tipoTela} + ' - ' + ${producto.tela.color}">Tela</td>
            <td th:text="${producto.cantidad}">Cantidad</td> <!-- Permitir modificar acá la cantidad -->
            <td th:text="${producto.prenda.precioBase}">Precio prenda</td>
            <td>
                <form th:action="@{'/eliminar-producto/' + ${producto.id}}" method="post">
                    <input type="submit" value="Eliminar" class="btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <h5>Monto total: $<span th:text="${pedido.montoTotal}"></span></h5>
    </div>
    <section class="d-flex container w-75 justify-content-around align-items-center mb-5 my-3">
        <div class="w-25">
            <a th:href="@{/nuevo-pedido}"
               class="btn btn-outline-light w-100"
               style="padding: 10px 20px;">Realizar otro producto</a>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Pagar pedido
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{pagar-pedido}" method="POST" id="formulario">
                        <input type="hidden" id="pedido-id" th:name="pedidoId" th:value="${pedido.id}"/>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">En que divisa pensas abonar?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="mb-5 text-center text-dark">
                                Total a pagar: $(ARS) <span th:text="${pedido.montoTotal}"></span>
                            </h6>
                            <div class="d-flex justify-content-around text-dark">
                                <div class="form-check">
                                    <input type="hidden" class="valor-cotizacion" th:value="1">
                                    <input class="form-check-input" type="radio" name="moneda" value="PESOS_ARGENTINOS"
                                           checked>
                                    <label class="form-check-label">
                                        ARG
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" class="valor-cotizacion" th:value="${cotizacionDolar}">
                                    <input class="form-check-input" type="radio" name="moneda" value="DOLAR">
                                    <label class="form-check-label">
                                        USD <b th:text="${cotizacionDolar}"></b>
                                    </label>
                                </div>

                                <input type="hidden" name="cotizacion" id="cotizacion-input">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" id="completar-pago" class="btn btn-primary">Completar pago</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w-25">
            <!-- sacar de acá, no es necesario -->
            <a th:href="@{/historial-pedidos}"
               class="btn btn-secondary w-100"
               style="padding: 10px 20px;"> Ver lista de pedidos </a>
        </div>
    </section>
</main>
<footer th:insert="templates/footer :: footer"></footer>
<script th:src="@{/js/main.js}"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('input[name="moneda"]').forEach(radio => {
            radio.addEventListener('change', function () {
                const cotizacion = this.dataset.cotizacion;
                document.getElementById('cotizacionInput').value = cotizacion;
            });
        });

        const btnCompletarPago = document.querySelector("#completar-pago");

        btnCompletarPago.addEventListener("click", () => {
            const monedaSeleccionada = document.querySelector("input[name='moneda']:checked");
            const cotizacion = monedaSeleccionada.parentElement.querySelector(".valor-cotizacion").value;
            const cotizacionInput = document.querySelector("#cotizacion-input");
            const formulario = document.querySelector("#formulario");

            if (cotizacion) {
                cotizacionInput.value = Number(cotizacion);

                formulario.submit();
            }
        });
    });
</script>

</body>
</html>