<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/modoOscuro.css}">

    <style>
        body {
            font-family: "Lexend Deca", sans-serif;
        }
    </style>
</head>

<body class="p-0 m-0">
<div class="sticky-top bg-dark d-flex justify-content-between py-3 px-5 align-items-center"
     th:insert="templates/nav :: nav"></div>
<main class="container py-5">
    <h2 class="mb-4" th:text="${tela.id != null ? 'Editar tela' : 'Crear tela'}"></h2>

    <div class="container w-75">
        <form th:action="@{${tela.id != null ? '/admin/editar-tela/' + tela.id : '/admin/editar-tela'}}"
              th:object="${tela}" method="post" enctype="multipart/form-data" class="border p-4 rounded bg-light">
<!--            <input type="hidden" th:field="*{id}">-->

            <div class="mb-3">
                <div class="row">
                    <div class="col-4">
                        <label for="tipo-tela" class="form-label text-dark">Tipo de tela</label>
                        <select th:field="*{tipoTela}" id="tipo-tela" class="form-select">
                            <option th:each="tipoTela : ${tiposTela}" th:value="${tipoTela}"
                                    th:text="${tipoTela}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="metros" class="form-label text-dark">Metros</label>
                        <input type="number" th:field="*{metros}" class="form-control" id="metros" min="0.5" step="0.5"
                               required>
                    </div>
                    <div class="col-4">
                        <label for="color" class="form-label text-dark">Color de tela</label>
                        <input type="text" th:field="*{color}" class="form-control" id="color" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-8">
                        <img th:if="${tela.imagenUrl}" th:src="${tela.imagenUrl}" alt="Imagen de la tela"
                             class="img-fluid mb-3"
                             style="max-width: 300px;">
                    </div>
                    <div class="col-4">
                        <input type="file" name="imagen" class="form-control">
                        <div class="mb-3">
                            <label for="precio" class="form-label text-dark">Precio:</label>
                            <input type="number" th:field="*{precio}" class="form-control" id="precio" required>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
            <a th:href="@{/admin/listar-telas}" class="btn btn-secondary ms-2">Volver</a>

        </form>
    </div>
</main>

<footer th:insert="templates/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
