<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Taller Web I</title>
  <!-- font google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <style>
    body {
      font-family: "Lexend Deca", sans-serif;
    }
  </style>
</head>
  <div th:fragment="header">
    <header class="p-3 bg-primary d-flex justify-content-around align-items-center">
      <h3 class="m-0 text-light text-center">SublimApp</h3>
      <p class="m-0 text-light text-center fs-5">Taller Web I - UNLaM</p>
    </header>
    <nav class="p-3 d-flex justify-content-evenly navbar bg-light sticky-top">
      <a th:href="@{/home}" class="fs-5 text-dark text-decoration-none">Inicio</a>
      <a th:href="@{/nuevo-pedido}" class="fs-5 text-dark text-decoration-none">Nuevo Pedido</a>
      <a th:href="@{/historial-pedidos}" class="fs-5 text-dark text-decoration-none">Mis Pedidos</a>
      <a th:href="@{/catalogo-telas}" class="fs-5 text-dark text-decoration-none">Mis Telas</a>
      <a th:href="@{/perfil}" class="fs-5 text-dark text-decoration-none">Perfil</a>
    </nav>
  </div>
</html>