<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
        body {
            font-family: "Lexend Deca", sans-serif;
        }
    </style>
</head>
<body class="p-0 m-0">
    <header class="p-3 bg-primary d-flex justify-content-around align-items-center">
        <h3 class="m-0 text-light text-center">SublimApp</h3>
        <p class="m-0 text-light text-center fs-5">Taller Web I - UNLaM</p>
    </header>
    <main>
        <div class = "shadow-lg p-5 my-5 bg-body-tertiary rounded-4 container w-50">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h3 class="mb-4 text-dark text-center">Inicia Sesion</h3>
                <div class="mb-3 fs-5">
                    <label for="email" class="form-label">Email:</label>
                    <input th:field="*{email}" type="email" class="form-control fw-light" id="email" placeholder="Ingrese su email">
                </div>
                <div class="mb-3 fs-5">
                    <label for="contrasenia" class="form-label">Contraseña:</label>
                    <input th:field="*{password}" type="password" class="form-control fw-light" id="contrasenia" placeholder="Ingrese su contraseña">
                    <!-- CAMBIAR "password" POR "contrasenia" -->
                </div>
                <p th:if="${error != null}" class="m-0 fs-5 text-danger text-center" th:text="'Error ' + ${error}"></p>
                <div class="py-3 d-flex justify-content-between align-items-center">
                    <button id="btn-registrarme" class="py-2 px-4 btn btn-primary" type="submit">Iniciar Sesion</button>
                    <p class="m-0 p-4">
                        <a href="nuevo-usuario" class="text-decoration-none">Registrarse</a>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>