<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Taller Web I</title>
  <!-- font google -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet" />
  <!-- Bootstrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/resources/core/css/modoOscuro.css}" />
  <style>
    body {
      font-family: "Lexend Deca", sans-serif;
    }
  </style>
</head>
<body class="p-0 m-0">
<!--<header th:insert="templates/header :: header"></header>-->
<main>
  <div class="shadow-lg p-5 my-5 bg-body-tertiary rounded-4 container w-50">
    <form th:action="@{/registrarme}" method="POST" th:object="${usuario}">
      <h3 class="mb-4 text-dark text-center">Registrate con Nosotros</h3>

      <!--
      <div class="mb-4 d-flex justify-content-center">
        <div class="fs-5 d-flex flex-column pe-3 w-50">
          <label for="telefono" class="mb-2">Teléfono:</label>
          <input type="number" id="telefono" placeholder="Ingrese su teléfono" class="w-100 p-2 border-top-0 border-start-0 border-end-0 rounded-0 fw-light" />
        </div>
        <div class="fs-5 d-flex flex-column ps-3 w-50">
          <label for="edad" class="mb-2">Edad:</label>
          <input type="number" id="edad" placeholder="Ingrese su edad" class="w-100 p-2 border-top-0 border-start-0 border-end-0 rounded-0 fw-light" />
        </div>
      </div>
      -->
      <div class="mb-4 fs-5 d-flex flex-row">
        <div class="fs-5 w-50 pe-3 d-flex flex-column">
          <label for="email" class="mb-2">Email:</label>
          <input th:field="*{email}" type="email" id="email" placeholder="Ingrese su email" class="p-2 border-top-0 border-start-0 border-end-0 rounded-0 fw-light w-100" />
        </div>
        <div class="fs-5 w-50 ps-3">
          <label for="password" class="mb-2">Contraseña:</label>
          <input th:field="*{password}" type="password" id="password" placeholder="Ingrese su contraseña" class="p-2 border-top-0 w-100 border-start-0 border-end-0 rounded-0 fw-light" />
        </div>
      </div>
      <button class="btn btn-primary">Registrarse</button>
      </form>
  </div>
</main>
</body>